<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sleepingcapsule">

    <supports-screens
        android:xlargeScreens="true"
        android:largeScreens="true"/>
    <uses-permission
        android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Snooze"

        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LightScreen"
            android:windowSoftInputMode="stateHidden"
            />
        <activity android:name=".MusicScreen"
            android:windowSoftInputMode="stateHidden"
            />
        <activity android:name=".SeatScreen"
            android:windowSoftInputMode="stateHidden"
            />
        <activity android:name=".MainActivity"
            android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>